body {
  width: 500px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}



.styled-list {
  list-style-type: none;
  padding: 0;
}

.styled-list li {
  font-weight: bolder;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}